# Cloud Functions Framework
functions-framework==3.*

# LINE Bot SDK
line-bot-sdk==3.12.0

# Google Cloud Libraries
google-cloud-firestore==2.16.0
google-cloud-logging==3.10.0

# Firebase Admin SDK (for ID token verification)
firebase-admin>=6.2.0

# HTTP
requests>=2.32.3
